{* This is the welcome page, you can delete it *}

{block content}
    <h2 n:block=title>Domov</h2>

    <div class="well">
        {include '../components/form.latte', form => searchForGroupForm}
    </div>

    {if $groupsOutput}
        {control searchGrid}
        <p class="center">
            <a href="{link Homepage:reset}" class="btn btn-primary">reset</a>
        </p>
    {/if}
